:root {
    --colorscheme: dark;
    --color-text: #333333;
    --color-background: #ffffff;
    --color-accent: #F9AF50;
    --color-border: #e0e0e0;
    --color-admonition-bg: hsl(219.5, 84%, 20%);
    --color-admonition-fg: hsl(219.5, 84%, 90%);
    --colour-warning-bg: hsl(28.5, 74%, 20%);
    --colour-warning-fg: hsl(28.5, 74%, 90%);
    --colour-note-bg: hsl(219.5, 84%, 20%);
    --colour-note-fg: hsl(219.5, 84%, 90%);
    --colour-success-bg: hsl(150, 36.7%, 20%);
    --colour-success-fg: hsl(150, 36.7%, 90%);
    --colour-error-bg: hsl(0, 37%, 20%);
    --colour-error-fg: hsl(0, 37%, 90%);
    --colour-todo-bg: hsl(266.8, 100%, 20%);
    --colour-todo-fg: hsl(266.8, 100%, 90%);
}

.slide-content {
    padding: 20px 40px;
    background-color: #001633;
    color: #EBEBEB;
}

h1 {
    font-size: 2.5em;
    margin-bottom: 20px;
    color: var(--color-accent);
}

h2 {
    font-size: 1.8em;
    width: fit-content;
    color: var(--color-accent);
}

h2::before {
    content: '';
    position: absolute;
    top: 0;
    width: 200px;
    height: 1px;
    background: var(--color-accent)
}

h3 {
    font-size: 1.4em;
}

.chunk-paragraph {
    line-height: 1.8;
}

/* Code Block Styles */
div.highlight {
    background-color: #1d2331;
    border: 1px solid rgb(75, 75, 75);
    border-radius: 4px;
    padding: 16px;
    margin: 2px;
}

/* Blockquote Styles */
blockquote {
    border-left: 4px solid var(--color-accent);
    color: var(--color-accent);
    background-color: var(--color-admonition-bg);
    padding: 16px;
    margin: 20px 0;
    font-style: normal;
}


.slide-number {
    font-size: 14px;
    font-weight: lighter;
}

thead tr {
    background-color: #172a45;
    color: #88e4cf;
    border-bottom: 2px solid #1d3557;
}

tbody tr {
    border-bottom: 1px solid #1d3557;
    background-color: #0d1f3f;
}

tbody tr:nth-of-type(even) {
    background-color: #112240;
}

tbody tr:hover {
    background-color: #233554;
}

.highlight .hll { background-color: #6e7681 }
.highlight { background: #1d2331; color: #d4d2c8 }
.highlight .c { color: #7e8aa1 } /* Comment */
.highlight .err { color: #f88f7f } /* Error */
.highlight .esc { color: #d4d2c8 } /* Escape */
.highlight .g { color: #d4d2c8 } /* Generic */
.highlight .k { color: #FFAD66 } /* Keyword */
.highlight .l { color: #D5FF80 } /* Literal */
.highlight .n { color: #d4d2c8 } /* Name */
.highlight .o { color: #FFAD66 } /* Operator */
.highlight .x { color: #d4d2c8 } /* Other */
.highlight .p { color: #d4d2c8 } /* Punctuation */
.highlight .ch { color: #f88f7f; font-style: italic } /* Comment.Hashbang */
.highlight .cm { color: #7e8aa1 } /* Comment.Multiline */
.highlight .cp { color: #FFAD66; font-weight: bold } /* Comment.Preproc */
.highlight .cpf { color: #7e8aa1 } /* Comment.PreprocFile */
.highlight .c1 { color: #7e8aa1 } /* Comment.Single */
.highlight .cs { color: #7e8aa1; font-style: italic } /* Comment.Special */
.highlight .gd { color: #f88f7f; background-color: #3d1e20 } /* Generic.Deleted */
.highlight .ge { color: #d4d2c8; font-style: italic } /* Generic.Emph */
.highlight .ges { color: #d4d2c8 } /* Generic.EmphStrong */
.highlight .gr { color: #f88f7f } /* Generic.Error */
.highlight .gh { color: #d4d2c8 } /* Generic.Heading */
.highlight .gi { color: #6ad4af; background-color: #19362c } /* Generic.Inserted */
.highlight .go { color: #7e8aa1 } /* Generic.Output */
.highlight .gp { color: #d4d2c8 } /* Generic.Prompt */
.highlight .gs { color: #d4d2c8; font-weight: bold } /* Generic.Strong */
.highlight .gu { color: #d4d2c8 } /* Generic.Subheading */
.highlight .gt { color: #f88f7f } /* Generic.Traceback */
.highlight .kc { color: #FFAD66 } /* Keyword.Constant */
.highlight .kd { color: #FFAD66 } /* Keyword.Declaration */
.highlight .kn { color: #FFAD66 } /* Keyword.Namespace */
.highlight .kp { color: #FFAD66 } /* Keyword.Pseudo */
.highlight .kr { color: #FFAD66 } /* Keyword.Reserved */
.highlight .kt { color: #73D0FF } /* Keyword.Type */
.highlight .ld { color: #D5FF80 } /* Literal.Date */
.highlight .m { color: #DFBFFF } /* Literal.Number */
.highlight .s { color: #D5FF80 } /* Literal.String */
.highlight .na { color: #FFD173 } /* Name.Attribute */
.highlight .nb { color: #FFD173 } /* Name.Builtin */
.highlight .nc { color: #73D0FF } /* Name.Class */
.highlight .no { color: #FFD173 } /* Name.Constant */
.highlight .nd { color: #7e8aa1; font-weight: bold; font-style: italic } /* Name.Decorator */
.highlight .ni { color: #95E6CB } /* Name.Entity */
.highlight .ne { color: #73D0FF } /* Name.Exception */
.highlight .nf { color: #FFD173 } /* Name.Function */
.highlight .nl { color: #d4d2c8 } /* Name.Label */
.highlight .nn { color: #d4d2c8 } /* Name.Namespace */
.highlight .nx { color: #d4d2c8 } /* Name.Other */
.highlight .py { color: #FFD173 } /* Name.Property */
.highlight .nt { color: #5CCFE6 } /* Name.Tag */
.highlight .nv { color: #d4d2c8 } /* Name.Variable */
.highlight .ow { color: #FFAD66 } /* Operator.Word */
.highlight .pm { color: #d4d2c8 } /* Punctuation.Marker */
.highlight .w { color: #d4d2c8 } /* Text.Whitespace */
.highlight .mb { color: #DFBFFF } /* Literal.Number.Bin */
.highlight .mf { color: #DFBFFF } /* Literal.Number.Float */
.highlight .mh { color: #DFBFFF } /* Literal.Number.Hex */
.highlight .mi { color: #DFBFFF } /* Literal.Number.Integer */
.highlight .mo { color: #DFBFFF } /* Literal.Number.Oct */
.highlight .sa { color: #F29E74 } /* Literal.String.Affix */
.highlight .sb { color: #D5FF80 } /* Literal.String.Backtick */
.highlight .sc { color: #D5FF80 } /* Literal.String.Char */
.highlight .dl { color: #D5FF80 } /* Literal.String.Delimiter */
.highlight .sd { color: #7e8aa1 } /* Literal.String.Doc */
.highlight .s2 { color: #D5FF80 } /* Literal.String.Double */
.highlight .se { color: #95E6CB } /* Literal.String.Escape */
.highlight .sh { color: #D5FF80 } /* Literal.String.Heredoc */
.highlight .si { color: #95E6CB } /* Literal.String.Interpol */
.highlight .sx { color: #95E6CB } /* Literal.String.Other */
.highlight .sr { color: #95E6CB } /* Literal.String.Regex */
.highlight .s1 { color: #D5FF80 } /* Literal.String.Single */
.highlight .ss { color: #DFBFFF } /* Literal.String.Symbol */
.highlight .bp { color: #5CCFE6 } /* Name.Builtin.Pseudo */
.highlight .fm { color: #FFD173 } /* Name.Function.Magic */
.highlight .vc { color: #d4d2c8 } /* Name.Variable.Class */
.highlight .vg { color: #d4d2c8 } /* Name.Variable.Global */
.highlight .vi { color: #d4d2c8 } /* Name.Variable.Instance */
.highlight .vm { color: #d4d2c8 } /* Name.Variable.Magic */
.highlight .il { color: #DFBFFF } /* Literal.Number.Integer.Long */
