h1 {
    color: #005fdb;
}

h2::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 4px;
    background: linear-gradient(to right, #0066cc, #86d7ff);
}

blockquote {
    background-color: #f0f8ff;
}

.centered h2::before {
    display: none;
}

.centered h2 {
    color: rgb(77, 77, 77);
}
