<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=0.2">
    <title>{{ title|default('PDF-Optimized Presentation') }}</title>
    <script type="module">
        import mermaid from 'https://cdn.jsdelivr.net/npm/mermaid@10/dist/mermaid.esm.min.mjs';
        mermaid.initialize({ startOnLoad: true });
    </script>
    <script>
        MathJax = {
            tex: {
                inlineMath: [['$', '$'], ['\\(', '\\)']]
            }
        };
    </script>
    <script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-chtml.js">
    </script>
    <link rel="stylesheet" href="styles.css">

</head>

<body>
    {% for slide in slides %}
    <div class="slide-container">
        {% set layout = slide.layout|default('top-down') %}
        {% include 'layouts/' + layout + '.html' %}
    </div>
    {% endfor %}
    <script src="main.js"></script>
</body>

</html>