<div class="slide-content product" {{"style"}}="{% for key, value in slide.deco.items() %}{{ key }}: {{ value }}; {% endfor %}">
    {% if slide.h1 %}
    <h1>{{ slide.h1 }}</h1>
    {% endif %}
    {% if slide.h2 %}
    <h2>{{ slide.h2 }}</h2>
    {% endif %}
    {% if slide.h3 %}
    <h3>{{ slide.h3 }}</h3>
    {% endif %}
    <div class="columns-container">
        <div class="left-column">
            {% if slide.contents|length > 0 %}
            <div class="content-item">
                {{ slide.contents[0] | markdown }}
            </div>
            {% endif %}
        </div>
        <div class="right-column">
            <div class="content">
                {% for item in slide.contents[1:] %}
                <div class="content-item">
                    {{ item | markdown }}
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>