<div class="slide-content top-down">
    {% if slide.h1 %}
    <h1>{{ slide.h1 }}</h1>
    {% endif %}
    {% if slide.h2 %}
    <h2>{{ slide.h2 }}</h2>
    {% endif %}
    {% if slide.h3 %}
    <h3>{{ slide.h3 }}</h3>
    {% endif %}
    <div class="content" data-sizing-inset-width="0" data-sizing-inset-height="20">
        <div class="auto-sizing">
            {% for item in slide.contents %}
            <div class="content-item">
                {{ item | markdown }}
            </div>
            {% endfor %}
        </div>
    </div>
</div>