@page {
    size: 720px 405px;
    margin: 0;
}

body,
html {
    margin: 0;
    padding: 0;
    background-color: #333;
    /* font-size: 30px; */
}

.slide-container {
    width: 720px;
    height: 405px;
    margin: 40px;
    background-color: white;
}

.slide-content {
    width: 100%;
    height: 100%;
    padding: 10px 30px 30px 30px;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
    color: #333;
}

.slide-number {
    position: absolute;
    bottom: 20px;
    right: 20px;
    font-size: 24px;
    color: #888;
}

@media print {
    body {
        width: 720px;
        height: 405px;
    }

    .slide-container {
        page-break-after: always;
        page-break-inside: avoid;
    }
}

/* 整体幻灯片样式 */
.slide-content {
    font-family: Arial, sans-serif;
    color: #333;
    max-width: 1200px;
    margin: 0 auto;
    padding: 5px 20px;
}

.slide-content.centered-title {
    padding: 20px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;
    overflow: hidden;
}

.centered-title h1 {
    font-size: 3em;
    margin-bottom: 20px;
    color: #0066cc;
    position: relative;
    z-index: 2;
}

.centered-title h2 {
    font-size: 1.8em;
    margin-bottom: 15px;
    color: #0099ff;
}

.centered-title h3 {
    font-size: 1.4em;
    margin-bottom: 10px;
    color: #33bbff;
}

.centered-title .content {
    max-width: 80%;
}

.centered-title .content-item {
    font-size: 1.2em;
    line-height: 1.6;
    margin-bottom: 15px;
}

.centered-title::before,
.centered-title::after {
    content: '';
    position: absolute;
    width: 200px;
    height: 200px;
    background: radial-gradient(circle, #e6f7ff, transparent 70%);
    z-index: 1;
}

.centered-title::before {
    top: -100px;
    left: -100px;
}

.centered-title::after {
    bottom: -100px;
    right: -100px;
}

h1 {
    font-size: 1.8em;
}

h2 {
    position: relative;
    padding-bottom: 10px;
    margin-bottom: 0px;
    font-size: 1.4em;
}

h2::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 4px;
    background: linear-gradient(to right, #0066cc, #86d7ff);
}

h3 {
    font-size: 1.2em;
    margin-bottom: 0;
}

/* 列容器 */
.columns-container {
    display: flex;
    gap: 20px;
}

/* 左右列样式 */
.left-column,
.right-column {
    flex: 1;
    padding: 0 15px;
}

.content {
    padding: 0 15px;
}

.content-item {
    max-height: 300px;
    text-align: justify;
    text-justify: inter-word;
    line-height: 1.6;
    margin-bottom: 15px;
    font-size: 20px;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
    hyphens: auto;
}

.content-item img {
    display: block;
    max-width: 100%;
    max-height: 250px;
    object-fit: contain;
    margin: 0 auto;
}