:root {
    --color-beamer-blue: #164994;
    --color-beamer-dark: #0B244A;
    --max-content-height: 250px;
    --max-content-width: 650px;
}
body {
    font-family: "Georgia", "SimSun", "STSong", "NSimSun", "PMingLiU", "MingLiU", serif;
}

.centered h1 {
    padding: 20px;
    font-size: 2rem;
    color: white;
    background: var(--color-beamer-blue);
    -webkit-text-fill-color: white;
}

.centered h3,
.centered h2 {
    margin: 0 auto;
}

.centered h2::before{
    display: none;
}

h2 {
    color: white;
    font-weight: 350;
    font-size: 1.6rem;
}

h2::before {
    content: '';
    position: absolute;
    left: -20%;
    bottom: 5%;
    width: 140%;
    height: 95%;
    z-index: -1;
    display: inline-block;
    background: var(--color-beamer-blue); 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3),
            0 2px 4px rgba(0, 0, 0, 0.2);
}


.content {
    margin: 0 15px 35px 15px;
}

.header {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #78859A;
    font-size: 12px;
    position: relative;
    z-index: 1;
}

.header::before {
    content: '';
    position: absolute;
    left: -20%;
    bottom: 0;
    width: 140%;
    height: 100%;
    z-index: -1;
    display: inline-block;
    background: var(--color-beamer-dark); 
}

.headings-list{
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.headings-list li {
    padding: 0;
    max-width: 100px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 2px;
}

.headings-list li.active {
    color: white;
}


.footer {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white;
    left: 0;
    right: 0;
    bottom: 0;
    position: absolute;
    background-color: var(--color-beamer-dark);
    font-size: 12px;
}

.footer p {
    margin: 2px 0 2px 30px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.slide-number {
    position: absolute;
    right: 10px;
    color: white;
    font-size: inherit;
}

div.admonition {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3),
            0 2px 4px rgba(0, 0, 0, 0.2);
}

h3 {
    font-size: 1.4em;
}

.chunk-paragraph {
    font-size: 20px;
    margin: 10px 0;
}

/* 修改 blockquote */
blockquote {
    border-left: 5px solid #268bd2;
    /* 类似 Beamer 引用颜色 */
    background-color: white;
    padding: 10px 20px;
    margin: 20px 0;
    border-radius: 2px;
    font-style: italic;
}

/* 修改 table */
table {
    border-collapse: collapse;
    width: 100%;
    margin: 20px 0;
    font-size: 16px;
    border-radius: 3px;
}

thead tr {
    background-color: var(--color-beamer-blue);
    color: white;
}

tbody tr {
    border-bottom: 1px solid #ccc;
}

th,
td {
    padding: 10px;
}